@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  min-height: 100vh; 
  @apply bg-white;
  @apply text-black;
  @apply dark:bg-black;
  @apply dark:text-gray-100;
 
}
